In [62]:
#Dataset 1 -ml100k

# u.data - 100000 ratings by 943 users on 1682 items - user id | item id | rating | timestamp 
# u.item - Information about the items (movies) - movie id | movie title | release date | video release date |
        # IMDb URL | unknown | Action | Adventure | Animation |Children's | Comedy | Crime | Documentary | Drama | Fantasy |
        # Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |Thriller | War | Western |
# u.genre - A list of the genres.
# u.user  - Demographic information about the users - user id | age | gender | occupation | zip code
# u.occupation - A list of the occupations


# Dataset 2 -imdb 
# movie_title : Name of movie, director_name : Director name, color : Movie is color or black and white, duration 
# Duration of movie, actor_1_name : Main actor, language : Language of movie, country : Which country it is released, title_year : Movie releasing year

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [16]:
# Creating panda dataframe for u.item
movie_data=pd.read_csv('/Users/vidhsharma/Documents/SJSU/Fall18/ML/Lab/input/ml-100k/u.item',sep='|',header=None,encoding='latin-1')
#movie_data=movie_data.iloc[:,0:6]
movie_data.columns=['movie_id','movie_title','release_date','video_release_date','imdb_url','unknown','Action','Adventure','Animation','Children','Comedy','Crime','Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western']
movie_data.dropna(subset=["release_date"],inplace= True)
movie_data.head()

,movie_id,movie_title,release_date,video_release_date,imdb_url,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [17]:
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1681 entries, 0 to 1681
Data columns (total 24 columns):
movie_id              1681 non-null int64
movie_title           1681 non-null object
release_date          1681 non-null object
video_release_date    0 non-null float64
imdb_url              1679 non-null object
unknown               1681 non-null int64
Action                1681 non-null int64
Adventure             1681 non-null int64
Animation             1681 non-null int64
Children              1681 non-null int64
Comedy                1681 non-null int64
Crime                 1681 non-null int64
Documentary           1681 non-null int64
Drama                 1681 non-null int64
Fantasy               1681 non-null int64
Film-Noir             1681 non-null int64
Horror                1681 non-null int64
Musical               1681 non-null int64
Mystery               1681 non-null int64
Romance               1681 non-null int64
Sci-Fi                1681 non-null int64
Thriller              1681 non-null int64
War                   1681 non-null int64
Western               1681 non-null int64
dtypes: float64(1), int64(20), object(3)
memory usage: 328.3+ KB

In [26]:
data=pd.read_csv ("/Users/vidhsharma/Documents/SJSU/Fall18/ML/Lab/input/movie_metadata.csv")
imdb_data= data.drop(columns=["genres"], inplace= True)
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,actor_1_name,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,CCH Pounder,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Johnny Depp,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Christoph Waltz,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Tom Hardy,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Doug Walker,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 27 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(11)
memory usage: 1.0+ MB

In [18]:
#mergeing two datasets

In [45]:
frames = [data,movie_data]
result = pd.concat(frames, axis=1, join='inner')
result.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,actor_1_name,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,CCH Pounder,...,0,0,0,0,0,0,0,0,0,0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Johnny Depp,...,0,0,0,0,0,0,0,1,0,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Christoph Waltz,...,0,0,0,0,0,0,0,1,0,0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Tom Hardy,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Doug Walker,...,0,0,0,0,0,0,0,1,0,0

In [39]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1681 entries, 0 to 1681
Data columns (total 51 columns):
color                        1678 non-null object
director_name                1651 non-null object
num_critic_for_reviews       1678 non-null float64
duration                     1677 non-null float64
director_facebook_likes      1651 non-null float64
actor_3_facebook_likes       1679 non-null float64
actor_2_name                 1680 non-null object
actor_1_facebook_likes       1681 non-null float64
gross                        1610 non-null float64
actor_1_name                 1681 non-null object
movie_title                  1681 non-null object
num_voted_users              1681 non-null int64
cast_total_facebook_likes    1681 non-null int64
actor_3_name                 1679 non-null object
facenumber_in_poster         1679 non-null float64
plot_keywords                1669 non-null object
movie_imdb_link              1681 non-null object
num_user_for_reviews         1678 non-null float64
language                     1679 non-null object
country                      1679 non-null object
content_rating               1658 non-null object
budget                       1611 non-null float64
title_year                   1649 non-null float64
actor_2_facebook_likes       1680 non-null float64
imdb_score                   1681 non-null float64
aspect_ratio                 1663 non-null float64
movie_facebook_likes         1681 non-null int64
movie_id                     1681 non-null int64
movie_title                  1681 non-null object
release_date                 1681 non-null object
video_release_date           0 non-null float64
imdb_url                     1679 non-null object
unknown                      1681 non-null int64
Action                       1681 non-null int64
Adventure                    1681 non-null int64
Animation                    1681 non-null int64
Children                     1681 non-null int64
Comedy                       1681 non-null int64
Crime                        1681 non-null int64
Documentary                  1681 non-null int64
Drama                        1681 non-null int64
Fantasy                      1681 non-null int64
Film-Noir                    1681 non-null int64
Horror                       1681 non-null int64
Musical                      1681 non-null int64
Mystery                      1681 non-null int64
Romance                      1681 non-null int64
Sci-Fi                       1681 non-null int64
Thriller                     1681 non-null int64
War                          1681 non-null int64
Western                      1681 non-null int64
dtypes: float64(14), int64(23), object(14)
memory usage: 682.9+ KB

In [40]:
result.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
count,1678.000000,1677.000000,1651.000000,1679.000000,1681.000000,1.610000e+03,1.681000e+03,1681.000000,1679.000000,1678.000000,...,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000
mean,198.250894,114.499702,1109.695942,1091.125074,9640.841166,8.637322e+07,1.446706e+05,14803.671624,1.313877,431.915971,...,0.013087,0.014277,0.054729,0.033314,0.036288,0.146936,0.060083,0.149316,0.042237,0.016062
std,134.997881,26.133324,3710.730851,2515.740721,11310.083627,8.563223e+07,1.748252e+05,17660.125432,1.889937,486.864126,...,0.113683,0.118667,0.227519,0.179507,0.187061,0.354148,0.237712,0.356506,0.201189,0.125751
min,1.000000,22.000000,0.000000,0.000000,2.000000,4.091000e+03,6.000000e+00,2.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,101.000000,99.000000,16.000000,271.500000,919.000000,3.205042e+07,3.952900e+04,2689.000000,0.000000,154.250000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,167.000000,111.000000,89.000000,529.000000,8000.000000,6.004411e+07,8.655600e+04,10583.000000,1.000000,279.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,261.000000,127.000000,314.000000,800.500000,15000.000000,1.128889e+08,1.828990e+05,20516.000000,2.000000,523.750000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,813.000000,330.000000,22000.000000,23000.000000,164000.000000,7.605058e+08,1.676169e+06,303717.000000,31.000000,5060.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [48]:
merged = pd.merge(data, movie_data, how='outer',
                  left_on='movie_title', right_on='movie_title')
merged = merged.drop('imdb_url', 1) # drop duplicate info
merged.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,actor_1_name,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,CCH Pounder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Johnny Depp,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Christoph Waltz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Tom Hardy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Doug Walker,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
merged.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,...,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,...,0.013087,0.014277,0.054729,0.033314,0.036288,0.146936,0.060083,0.149316,0.042237,0.016062
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,...,0.113683,0.118667,0.227519,0.179507,0.187061,0.354148,0.237712,0.356506,0.201189,0.125751
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [51]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6724 entries, 0 to 6723
Data columns (total 49 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
actor_1_name                 5036 non-null object
movie_title                  6724 non-null object
num_voted_users              5043 non-null float64
cast_total_facebook_likes    5043 non-null float64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null float64
movie_id                     1681 non-null float64
release_date                 1681 non-null object
video_release_date           0 non-null float64
unknown                      1681 non-null float64
Action                       1681 non-null float64
Adventure                    1681 non-null float64
Animation                    1681 non-null float64
Children                     1681 non-null float64
Comedy                       1681 non-null float64
Crime                        1681 non-null float64
Documentary                  1681 non-null float64
Drama                        1681 non-null float64
Fantasy                      1681 non-null float64
Film-Noir                    1681 non-null float64
Horror                       1681 non-null float64
Musical                      1681 non-null float64
Mystery                      1681 non-null float64
Romance                      1681 non-null float64
Sci-Fi                       1681 non-null float64
Thriller                     1681 non-null float64
War                          1681 non-null float64
Western                      1681 non-null float64
dtypes: float64(37), object(12)
memory usage: 2.6+ MB

In [57]:
merged.dropna(subset=['movie_title'])
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6724 entries, 0 to 6723
Data columns (total 49 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
actor_1_name                 5036 non-null object
movie_title                  6724 non-null object
num_voted_users              5043 non-null float64
cast_total_facebook_likes    5043 non-null float64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null float64
movie_id                     1681 non-null float64
release_date                 1681 non-null object
video_release_date           0 non-null float64
unknown                      1681 non-null float64
Action                       1681 non-null float64
Adventure                    1681 non-null float64
Animation                    1681 non-null float64
Children                     1681 non-null float64
Comedy                       1681 non-null float64
Crime                        1681 non-null float64
Documentary                  1681 non-null float64
Drama                        1681 non-null float64
Fantasy                      1681 non-null float64
Film-Noir                    1681 non-null float64
Horror                       1681 non-null float64
Musical                      1681 non-null float64
Mystery                      1681 non-null float64
Romance                      1681 non-null float64
Sci-Fi                       1681 non-null float64
Thriller                     1681 non-null float64
War                          1681 non-null float64
Western                      1681 non-null float64
dtypes: float64(37), object(12)
memory usage: 2.6+ MB

In [59]:
final=merged.drop(['video_release_date'],axis=1)

In [60]:
final.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,...,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,...,0.013087,0.014277,0.054729,0.033314,0.036288,0.146936,0.060083,0.149316,0.042237,0.016062
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,...,0.113683,0.118667,0.227519,0.179507,0.187061,0.354148,0.237712,0.356506,0.201189,0.125751
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [61]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6724 entries, 0 to 6723
Data columns (total 48 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
actor_1_name                 5036 non-null object
movie_title                  6724 non-null object
num_voted_users              5043 non-null float64
cast_total_facebook_likes    5043 non-null float64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null float64
movie_id                     1681 non-null float64
release_date                 1681 non-null object
unknown                      1681 non-null float64
Action                       1681 non-null float64
Adventure                    1681 non-null float64
Animation                    1681 non-null float64
Children                     1681 non-null float64
Comedy                       1681 non-null float64
Crime                        1681 non-null float64
Documentary                  1681 non-null float64
Drama                        1681 non-null float64
Fantasy                      1681 non-null float64
Film-Noir                    1681 non-null float64
Horror                       1681 non-null float64
Musical                      1681 non-null float64
Mystery                      1681 non-null float64
Romance                      1681 non-null float64
Sci-Fi                       1681 non-null float64
Thriller                     1681 non-null float64
War                          1681 non-null float64
Western                      1681 non-null float64
dtypes: float64(36), object(12)
memory usage: 2.8+ MB